.contact-us {
  text-align: center;
  font-size: 40px;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.swing {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 0);
  padding: 0 0 20px 0;
}

label {
  display: block;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace
}

input {
  display: block;
  padding: 10px;
  margin: 10px;
  font-size: 20px
}

textarea {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  width: 350px;
}

#contact-form { 
  background-color: rgb(41, 31, 44);
  color: white;
  padding: 10px;
  width: 50%;
  
  
}

.btn-primary {
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  transition: 0.2s;
  border: 0px;
  width: 350px;
  
  
}

.btn-primary:hover {
  color: white;
  background-color: black;
}

div.App {
  display: flex;
  flex-direction: column;
}

.address {
  width: 50%;
  background-color: rgb(41, 31, 44);
  color: white;
  padding: 10px;
  display: block;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace
}
.wrapper {
  display: flex;
}
.phone {
  font-size: 20px;
  padding: 10px 50px;
}


  @media (max-width: 992px) {
    p {
      font-size: 20px;
    }

    textarea {
      width: 150px;
    }

    .btn-primary {
      width: 150px;
      font-size: 25px;
    }

    label { 
      font-size: 20px;
    }

    input {
      width: 150px;
    }

    .swing {
      font-size: 20px;
    }

    .phone {
      font-size: 16px;
      padding: 10px 10px;
    }
  }



